.about {
  overflow: hidden;
  padding-bottom: 100px;
  &__prev {
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 130px;
    padding-bottom: 10px;
  }
}

.swiper-wrapper {
  padding-bottom: 50px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: $dark-blue;
}

.swiper-studies {
  .swiper-slide {
    position: relative;
    overflow: hidden;
  }

  .about__slide-content {
    width: 100%;
    height: 30px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    color: $white;
    font-size: 20px;
    background-color: rgba($black, 0.6);
    transition: all 0.7s;
    h1 {
      font-size: 25px;
    }
    .about__slide-text {
      padding-right: 40px;
      visibility: hidden;
      opacity: 0;
      span {
        font-size: 15px;
      }
      p {
        font-size: 13px;
        line-height: 1.3;
      }
    }
  }

  .swiper-slide-active {
    opacity: 1;
  }
  .swiper-slide-active .about__slide-content {
    height: 90px;
  }
  .swiper-slide-active .about__slide-text {
    opacity: 1;
    visibility: visible;
  }
}

@include small-tablet {
  .about {
    &__prev {
      min-height: 200px;
      padding: 60px 0px 10px;
    }
    &__content {
      padding-top: 30px;
    }
    .section-title {
      padding-top: 120px;
    }
    .swiper-slide {
      img {
        width: 100%;
      }
    }
    .swiper-pagination {
      display: none;
    }
  }
}

@include mobile {
  .about {
    padding-bottom: 70px;
    &__content {
      padding-top: 10px;
    }
    .swiper-about {
      height: 400px;
      margin-bottom: 30px;
    }
    .swiper-studies {
      height: 450px;
      .section__info {
        padding-top: 0;
      }
      .swiper-slide {
        img {
          height: 450px;
        }
      }
    }
  }
}
