.benefits {
  text-align: center;
  padding: 0px 0px 100px;
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    position: relative;
    &-info {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      background-color: rgba($white, 0.7);

      padding: 10px 10px 40px 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
    &-title {
      font-size: 21px;
      text-transform: uppercase;
      line-height: 25px;
      color: $dark-blue;

      padding-bottom: 20px;
      margin-bottom: 20px;

      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100px;
        height: 2px;
        margin: 0 auto;

        background-color: $dark-blue;
      }
    }
    &-text {
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
    }
  }
}

@include small-tablet {
  .benefits {
    padding-bottom: 70px;
    &__cards {
      grid-template-columns: repeat(1, 1fr);
      .image {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .benefits {
    padding-bottom: 50px;
  }
}
