.contacts {
  padding: 0px 0px 100px;
  &__prev {
    background: linear-gradient(rgba(0, 0, 0, 0.3)), url("../img/contacts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 130px;
    padding-bottom: 10px;
  }

  &__content {
    padding-top: 70px;
  }
  &__information {
    display: flex;
  }
  &__form {
    flex: 1 0 50%;
    background: $gradient-bg;
    max-width: 500px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 4px;
  }
  &__form-title {
    font-size: 23px;
    text-align: center;
    color: $white;
    margin: 20px 0 40px;
  }

  .form__input {
    border-bottom: 3px solid $white;
    background-color: transparent;
    color: $grey;
  }
  .form__label {
    color: $white;
  }
  .form__input:focus + .form__label,
  .form__input:valid + .form__label {
    color: $white;
  }
  .form__input:focus::placeholder {
    color: $white;
  }

  .contacts__info {
    color: $dark-blue;
    margin-left: 100px;
  }
  .contacts__social {
    a {
      padding-left: 0;
      padding-right: 10px;
    }
  }
  .footer__icon-email {
    fill: $dark-blue;
  }
  .footer__icon-phone {
    fill: $dark-blue;
  }
  .footer__icon-insta {
    fill: $dark-blue;
  }
}

@include tablet {
  .contacts {
    .contacts__info-row {
      flex-direction: column;
    }
  }
}

@include small-tablet {
  .contacts {
    &__prev {
      min-height: 200px;
      padding: 60px 0px 10px;
    }
    .section-title {
      padding-top: 120px;
    }
    &__information {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 50px;
    }
    .contacts__info {
      margin-left: 0;
    }
  }
}

@include mobile {
  .contacts {
    padding-bottom: 70px;
    .contacts__form {
      padding: 20px;
    }
    .contacts__form-title {
      margin: 0 0 20px;
    }
    .form__input {
      border-bottom: 2px solid $white;
    }
  }
}
