.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  background-color: rgba($black, 0.6);
  box-shadow: 7px 3px 8px $black;
  &__top {
    padding: 10px 0px;
    color: $black;
    box-shadow: 15px 9px 33px 42px rgba(61, 69, 75, 0.2);
    background: $gradient-bg;
    transition: transform 0.3s ease;
    &-connection {
      display: flex;
      justify-content: space-between;
      align-items: center;

      color: $white;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;
  }
  &__info-phone {
    padding-right: 10px;
  }
  &__icon-phone {
    fill: $white;
    width: 20px;
    height: 20px;
  }
  &__icon-email {
    fill: $white;
    width: 20px;
    height: 20px;
  }

  .form__btn {
    text-transform: none;
    padding: 15px;
  }

  .contacts__info-item {
    margin-right: 0;
  }
}

.scrolling-active {
  background-color: $dark-blue;
}

.hide-header {
  display: none;
}

//menu
.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 0px 20px 0px 20px;
    &:first-child {
      padding-left: 0;
    }
  }
  &__list-link {
    color: $grey;
    font-weight: 700;
    position: relative;
    transition: color 0.3s;
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 2px;
      width: 0;
      border-radius: 1px;
      background-color: $white;
      transition: width 0.4s;
    }

    @include for-desktop {
      &:hover {
        color: $white;
      }
      &:hover:after {
        width: 100%;
      }
    }

    &:focus {
      color: $white;
    }
    &:focus:after {
      width: 100%;
    }
  }

  &__list-link--active {
    color: $white;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;

      height: 2px;
      width: 100%;
      border-radius: 1px;
      background-color: $white;
    }
  }
}

.scrolling-active {
  background-color: $dark-blue;
}

.burger {
  @include burger;
  display: none;
}

.menu--active {
  transform: none !important;
}

@include tablet {
  .burger {
    display: block;
    color: $white;
  }

  .header {
    .contacts__icon {
      width: 70px;
      height: 70px;
      img {
        width: 70px;
        height: 70px;
      }
    }
    &__top {
      .form__btn {
        font-size: 15px;
        padding: 13px;
      }
    }
    &__top-connection {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      padding: 10px;
      background-color: $dark-blue;
      background: $gradient-bg;
      box-shadow: 1px 8px 10px 4px rgba(23, 31, 37, 0.2);
    }
    .contacts__info-connection {
      display: none;
    }
    .contacts__info-item {
      display: none;
    }

    .menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: auto;
      transform: translateY(-100%);
      transition: transform 0.4s ease-in-out;
      .contacts__icon {
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
    .menu__list {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      min-height: 100%;
      background-color: $dark-blue;
      background: $gradient-bg;
      box-shadow: 15px 9px 33px 42px rgba(61, 69, 75, 0.2);
      padding: 20px;
      .contacts__icon {
        width: 100px;
        height: 100px;
        background-color: $dark-blue;
        margin-bottom: 30px;
      }
      .contacts__info-phones {
        font-size: 13px;
        justify-content: center;
      }
      .contacts__info-email {
        font-size: 13px;
      }
    }
    .menu__list-item {
      padding: 0;
      margin-bottom: 20px;
    }
  }
}

@include mobile-mini {
  .header {
    .contacts__info-phones {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 285px) {
  .header {
    .form__btn {
      font-size: 9px;
      line-height: 1.5;
      padding: 10px 5px;
    }
  }
}
