.information {
  padding: 0px 0px 100px;
  &__prev {
    @include image-set("../img/information");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 130px;
    padding-bottom: 10px;
  }

  &__content {
    padding-top: 70px;
  }
}

@include tablet {
  .information {
    &__prev {
      min-height: 200px;
      padding: 60px 0px 10px;
    }
    .section-title {
      padding-top: 120px;
    }
  }
}

@include mobile {
  .information {
    padding-bottom: 50px;
    .title {
      font-size: 23px;
      line-height: 1.3;
    }
  }
}
