.top {
  overflow-x: hidden;
  &__background-img {
    @include image-set("../img/bg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
  }
  &__inner {
    max-width: 750px;
    padding-top: 300px;
  }
  &__title {
    letter-spacing: 3px;
    font-size: 110px;
    line-height: 105px;
    color: $white;
    padding-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 2px;
      background-color: $white;
    }
  }
  &__text {
    padding-top: 20px;
    color: $white;
    font-size: 30px;
  }
}

@include small-tablet {
  .top {
    &__title {
      letter-spacing: 2px;
      font-size: 80px;
      line-height: 1;
    }
    &__text {
      font-size: 24px;
    }
  }
}

@include mobile-mini {
  .top {
    &__background-img {
      min-height: 650px;
    }
    &__title {
      font-size: 50px;
      line-height: 1;
      padding-bottom: 10px;
      &::after {
        width: 150px;
      }
    }
    &__text {
      padding-top: 10px;
      font-size: 17px;
    }
    &__inner {
      padding-top: 300px;
    }
  }
}
