.services {
  padding: 0px 0px 70px;
  .section__info {
    padding-top: 0;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__column {
    display: flex;
    padding: 0px 20px;
    margin-bottom: 50px;
  }

  &__card {
    position: relative;
    padding: 90px 30px 20px;
    width: 300px;
    background: $dark-blue;
    color: $white;

    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: $dark-violet;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.5s;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
    fill: $white;

    position: absolute;
    left: 30px;
    top: 50px;
    font-size: 20px;
    font-weight: 800;
    z-index: 1;
    opacity: 0.3;
    transition: 0.5s;
  }

  &__title {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    transition: 0.5s;
  }

  &__text {
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    transition: 0.5s;
    margin-bottom: 20px;

    flex: 1 0 auto;
  }

  &__link {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    text-decoration: underline;
    color: $grey;
  }
}

.services__card:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.services__card:hover .services__icon {
  opacity: 1;
  fill: $white;
  transform: translateY(-30px);
}

.services__card:hover .services__title {
  color: $grey;
}

@include mobile {
  .services {
    padding-bottom: 20px;
    &__column {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    &__card {
      width: auto;
    }
  }
}
