.vacancies {
  padding: 0px 0px 100px;
  &__prev {
    @include image-set("../img/vacansies");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 130px;
    padding-bottom: 10px;
  }

  .accordion__inner-content {
    padding: 20px;
  }
}

@include tablet {
  .vacancies {
    &__prev {
      min-height: 200px;
      padding: 60px 0px 10px;
    }
    .section-title {
      padding-top: 120px;
    }
  }
}

@include mobile {
  .vacancies {
    padding-bottom: 50px;
  }
}
