<section
  class="benefits"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-once="true"
>
  <div class="container">
    <div class="section__info">
      <h3 class="title">Почему мы?</h3>
      <p class="text">White Story - это стоматология нового уровня</p>
    </div>
    <div class="benefits__cards">
      <div class="benefits__card">
        <div class="benefits__item">
          <picture>
            <source srcset="img/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/4.jpg"
              class="benefits__item-image image"
              width="400"
              height="400"
              alt="img"
            />
          </picture>
          <div class="benefits__item-info">
            <h6 class="benefits__item-title">
              Наш опыт - ваше здоровье
            </h6>
            <p class="benefits__item-text">
              Все врачи клиники регулярно проходят курсы повышения квалификации
              и участвуют в профильных медицинских семинарах и конференциях, в
              том числе международных.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits__card">
        <div class="benefits__item">
          <picture>
            <source srcset="img/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/1.jpg"
              class="benefits__item-image image"
              width="400"
              height="400"
              alt="img"
            />
          </picture>
          <div class="benefits__item-info">
            <h6 class="benefits__item-title">
              Современная стоматологическая помощь
            </h6>
            <p class="benefits__item-text">
              Клиника White Story оснащена современным оборудованием, которое
              сделает ваше лечение комфортным и безболезненным
            </p>
          </div>
        </div>
      </div>
      <div class="benefits__card">
        <div class="benefits__item">
          <picture>
            <source srcset="img/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/3.jpg"
              class="benefits__item-image image"
              width="400"
              height="400"
              alt="img"
            />
          </picture>
          <div class="benefits__item-info">
            <h6 class="benefits__item-title">Высокие стандарты</h6>
            <p class="benefits__item-text">
              Наши врачи подберут для вас индивидуальный план протезирования и
              реставрации зубов, который будет одновременно доступным и
              качественным, вернет зубам утраченную функциональность, а также
              скроет все эстетические недостатки.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
