<section class="benefits" data-aos="fade-up" data-aos-duration="2000">
  <div class="container">
    <div class="section__info">
      <h3 class="title">Почему мы?</h3>
      <p class="text">
        ‌Комплексный подход наших специалистов позволяет добиться максимального
        результата в лечении.
      </p>
    </div>
    <div class="benefits__cards">
      <div class="benefits__card">
        <div class="benefits__item">
          <picture>
            <source srcset="img/4.avif" type="image/avif" />
            <source srcset="img/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/4.jpg"
              class="benefits__item-image image"
              width="400"
              height="400"
              alt="img"
            />
          </picture>
          <div class="benefits__item-info">
            <h6 class="benefits__item-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h6>
            <p class="benefits__item-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
              provident quibusdam iusto repellat quasi repudiandae ratione
              earum.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits__card">
        <div class="benefits__item">
          <picture>
            <source srcset="img/1.avif" type="image/avif" />
            <source srcset="img/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/1.jpg"
              class="benefits__item-image image"
              width="400"
              height="400"
              alt="img"
            />
          </picture>
          <div class="benefits__item-info">
            <h6 class="benefits__item-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h6>
            <p class="benefits__item-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
              provident quibusdam iusto repellat quasi repudiandae ratione
              earum.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits__card">
        <div class="benefits__item">
          <picture>
            <source srcset="img/3.avif" type="image/avif" />
            <source srcset="img/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/3.jpg"
              class="benefits__item-image image"
              width="400"
              height="400"
              alt="img"
            />
          </picture>
          <div class="benefits__item-info">
            <h6 class="benefits__item-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h6>
            <p class="benefits__item-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
              provident quibusdam iusto repellat quasi repudiandae ratione
              earum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
