<footer class="footer">
  <div class="footer__content">
    <div class="container">
      <div class="contacts__inner">
        <a class="contacts__icon" href="index.html" data-da=".menu__list,768,0">
          <picture>
            <source srcset="img/logo-dark2.avif" type="image/avif" />
            <source srcset="img/logo-dark2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/logo-dark2.png"
              class="image"
              width="100"
              height="100"
              alt="logo"
            />
          </picture>
        </a>
        <div class="contacts__info">
          <h3 class="contacts__info-title">Контактная информация:</h3>
          <div class="contacts__info-map">
            <a
              class="contacts__info-link"
              href="https://yandex.by/maps/26938/ivacevichi/?ll=25.344508%2C52.711478&mode=poi&poi%5Bpoint%5D=25.344489%2C52.711390&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D135267260058&z=19.4"
              target="_blank"
              >Мы на карте</a
            >
            <svg class="contacts__info-mark">
              <use xlink:href="img/sprite.svg#markerF"></use>
            </svg>
          </div>
          <div class="contacts__info-adress">
            г.Ивацевичи, ул.Советская, д.1а, пом.17 (2 этаж)
          </div>
          <div class="contacts__info-row">
            <div class="contacts__info-item">
              <h5 class="contacts__info-timetable">Режим работы:</h5>
              <div>‌Пн-Пт 8.00-20.00</div>
              <div>Сб 9.00-15.00</div>
              <div>Воскресенье - выходной</div>
            </div>
            <div class="contacts__info-connection">
              <h5 class="contacts__info-title">Связаться с нами:</h5>
              <div class="contacts__info-phones">
                <svg class="footer__icon-phone">
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                <div>
                  <a class="contacts__info-phone" href="tel:+375336294094"
                    >+375 (33) 629-40-94</a
                  >
                  <a class="contacts__info-phone" href="tel:+375164594094"
                    >+375 (1645) 94-0-94</a
                  >
                </div>
              </div>
              <div class="contacts__info-email">
                <svg class="footer__icon-email">
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                <a href="mailto:vreutsky77@mail.ru">whitestory@tut.by</a>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts__social">
          <h5 class="contacts__info-title">Следите за нами в instagram:</h5>
          <a target="_blank" href="https://www.instagram.com/whitestory.by">
            <svg class="footer__icon-insta">
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <p>White Story 2020</p>
    </div>
  </div>
</footer>
