<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content">
      <div class="graph-modal__content">
        <h4 class="graph-modal__title">
          Заполните заявку и мы скоро с вами свяжемся
        </h4>
      </div>
    </div>
    <form action="#" class="form-modal">
      <div class="form__input-block">
        <input
          class="input-reset form__input"
          type="text"
          name="Имя"
          id="modal-name"
          required
        />
        <label class="form__label" for="modal-name">Введите ваше имя</label>
      </div>
      <div class="form__input-block">
        <input
          class="input-reset form__input"
          type="text"
          name="Имя"
          id="modal-phone"
          placeholder="маска"
          required
        />
        <label class="form__label" for="modal-phone"
          >Введите ваш номер телефона</label
        >
      </div>
      <button class="btn-reset form__btn">Отправить</button>
    </form>
  </div>
</div>
