<section class="top">
  <div class="top__background-img">
    <div class="container">
      <div class="top__inner">
        <div class="top__info">
          <h2
            class="top__title"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            Клиника <br />
            White Story
          </h2>
          <p
            class="top__text"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            Искусство создавать красивые улыбки
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
