<section
  class="services"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-once="true"
>
  <div class="container">
    <div class="section__info">
      <h3 class="title">Наши услуги</h3>
      <p class="text">Гармония цены и качества</p>
    </div>
    <div class="services__cards">
      <div class="services__column">
        <div class="services__card">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#4"></use>
          </svg>
          <svg class="services__image">
            <use xlink:href="img/sprite.svg#4"></use>
          </svg>
          <h5 class="services__title">Диагностика</h5>
          <div class="services__underline"></div>
          <a class="services__link" href="price.html">Подробнее</a>
        </div>
      </div>

      <div class="services__column">
        <div class="services__card">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#1"></use>
          </svg>
          <svg class="services__image">
            <use xlink:href="img/sprite.svg#1"></use>
          </svg>
          <h5 class="services__title">Отбеливание</h5>
          <div class="services__underline"></div>
          <a class="services__link" href="price.html">Подробнее</a>
        </div>
      </div>

      <div class="services__column">
        <div class="services__card">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#2"></use>
          </svg>
          <svg class="services__image">
            <use xlink:href="img/sprite.svg#2"></use>
          </svg>
          <h5 class="services__title">Периодонтология</h5>
          <div class="services__underline"></div>
          <a class="services__link" href="price.html">Подробнее</a>
        </div>
      </div>

      <div class="services__column">
        <div class="services__card">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#3"></use>
          </svg>
          <svg class="services__image">
            <use xlink:href="img/sprite.svg#3"></use>
          </svg>
          <h5 class="services__title">Лечение</h5>
          <div class="services__underline"></div>
          <a class="services__link" href="price.html">Подробнее</a>
        </div>
      </div>

      <div class="services__column">
        <div class="services__card">
          <svg class="services__icon">
            <use xlink:href="img/sprite.svg#5"></use>
          </svg>
          <svg class="services__image">
            <use xlink:href="img/sprite.svg#5"></use>
          </svg>
          <h5 class="services__title">Протезирование</h5>
          <div class="services__underline"></div>
          <a class="services__link" href="price.html">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
